<?xml version="1.0"?>
<config>
    <modules>
        <Storm_ElasticSearch>
            <version>1.0.0</version>
        </Storm_ElasticSearch>
    </modules>
    <global>
        <blocks>
            <elasticsearch>
                <class>Storm_ElasticSearch_Block</class>
            </elasticsearch>
        </blocks>
        <models>
            <elasticsearch>
                <class>Storm_ElasticSearch_Model</class>
                <resourceModel>elasticsearch_resource</resourceModel>
            </elasticsearch>
            <elasticsearch_resource>
                <class>Storm_ElasticSearch_Model_Resource</class>
            </elasticsearch_resource>
            <catalogsearch>
                <rewrite>
                    <layer>Storm_ElasticSearch_Model_CatalogSearch_Layer</layer>
                </rewrite>
            </catalogsearch>
        </models>
        <helpers>
            <elasticsearch>
                <class>Storm_ElasticSearch_Helper</class>
            </elasticsearch>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <elasticsearch after="Mage_Adminhtml">Storm_ElasticSearch</elasticsearch>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Storm_ElasticSearch>
                    <files>
                        <default>Storm_ElasticSearch.csv</default>
                    </files>
                </Storm_ElasticSearch>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <catalog>
            <search>
                <host>localhost</host>
                <port>9200</port>
            </search>
        </catalog>
    </default>
</config>